.statistics-container {
  background-color: #579e8e;
  padding: 5px;
}

.section {
  background-color: #579e8e;
  margin-bottom: 24px;
  padding: 12px 0; /* <-- added top & bottom padding */

}

.section h1 {
  font-size: 36px;
  margin: 0 0 6px 0;
  font-weight: 600;
  color: #b0d9d0
}

.section p {
  font-size: 16px;
  margin: 0;
  line-height: 1.5;
  color: #ffffff;
}